@model IEnumerable<Employee>

<h1>top Employees</h1>
@using (Html.BeginForm())
{
    <div class="input-group">
        @Html.TextBox("SearchByName",null,new{@class="form-control",@placeholder="Search by emplyee name .."})
        <input type="submit" value="search" class ="btn btn-outline-success">

    </div>

}
<a asp-action="CreateEmployee" class="btn btn-primary" >Create New Employee</a>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Employee No.","Index" , new {sortField="EmployeeNumber", currentSortField=ViewBag.SortField,sortDirection=ViewBag.sortDirection})
            </th>
            <th>
                @Html.ActionLink("Employee Name","Index" , new {sortField="EmployeeName", currentSortField=ViewBag.SortField,sortDirection=ViewBag.sortDirection})
            </th>
            <th>
                @Html.ActionLink("Data Of Birth","Index" , new {sortField="DOB", currentSortField=ViewBag.SortField,sortDirection=ViewBag.sortDirection})
            </th>
            <th>
                @Html.ActionLink("Hiring Date","Index" , new {sortField="HiringDate", currentSortField=ViewBag.SortField,sortDirection=ViewBag.sortDirection})
            </th
            ><th>
                @Html.ActionLink("Gross Salary","Index" , new {sortField="GrossSalary", currentSortField=ViewBag.SortField,sortDirection=ViewBag.sortDirection})
            </th>
            <th>
                @Html.ActionLink("Net Salary","Index" , new {sortField="NetSalary", currentSortField=ViewBag.SortField,sortDirection=ViewBag.sortDirection})
            </th>
            <th>
                @Html.ActionLink("Department Name","Index" , new {sortField=ViewBag.Departments, currentSortField=ViewBag.SortField,sortDirection=ViewBag.sortDirection})
            </th>
            
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>

    
    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HiringDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.EmployeeID})
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new {id = item.EmployeeID}, new {onclick = "return confirm('are you sure you want to delete this employee?');"})
                </td>
            </tr>
        }
    </tbody>
</table>